In [2]:
# 1. Print numbers from 1 to 5 using a while loop.

# Ans 
i = 1
while i <= 5:  # output: i = 1 , 1<=5 print(1) , i = 2 , 2<=5 print(2) , .......... i = 5 , 5<=5 , print(5) .
    print(i)
    i = i+1

1
2
3
4
5

In [9]:
# 2. Calculate the sum of numbers from 1 to 10 using a while loop.   
# Ans-

i = 1
sum = 0
while i <= 10:
    sum += i
    i += 1
print("The sum of numbers from 1 to 10 is:", sum)

The sum of numbers from 1 to 10 is: 55

In [4]:
# 3. Calclate the factorial of a number using a for loop.
# Ans- 
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result
number = int(input("Enter a number to calculate its factorial: "))
fact = factorial(number)
print("The factorial of", number, "is", fact)

Enter a number to calculate its factorial:  6

The factorial of 6 is 720

In [6]:
# 4. Count the number of vowels in a string using a for loop.
# Ans - 
def count_vowels(string):
    vowel_count = 0
    vowels = ['a', 'e', 'i', 'o', 'u']
    string = string.lower()
    for char in string:
        if char in vowels:
            vowel_count += 1
    return vowel_count
input_string = input("Enter a string: ")
vowel_count = count_vowels(input_string)
print("Number of vowels in the string:", vowel_count)

Enter a string:  Education

Number of vowels in the string: 5

In [8]:
# 5. Print a pattern using nested loops.
# Ans - 

# Define the number of rows for the pattern
num_rows = 10
for i in range(num_rows):
    for j in range(i + 1):
        print("*", end=" ")  
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [11]:
# 6. Generate a mltiplication table using nested loops.
# Ans- 
start = 1
end = 8
for i in range(start, end + 1):
    for j in range(start, end + 1):
        print(i * j, end="\t")
    print()

1	2	3	4	5	6	7	8
2	4	6	8	10	12	14	16
3	6	9	12	15	18	21	24
4	8	12	16	20	24	28	32
5	10	15	20	25	30	35	40
6	12	18	24	30	36	42	48
7	14	21	28	35	42	49	56
8	16	24	32	40	48	56	64